<!-- BEGIN: Setting drop down -->
<a href="#">Setting</a>
<ul class="dropdown">
  <li id="setting_machines_index">
    <%= link_to "Machines", setting.machines_path %>
  </li>
</ul>
<!-- END: Setting drop down -->
