<table>
  <thead>
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
    <tr>
      <td><%= attribute.human_name %></td>
      <td><%%= @<%= singular_table_name %>.<%= attribute.name %> %></td>
    </tr>
<% end -%>
  </tbody>
</table>

<%%= link_to 'Back', <%= index_helper %>_path, class: 'button' %>
