<div class="row">
  <div class="small-2 columns">
    <% if @prev_step == nil %>
      <%= link_to 'Back', capture_evaluations_path, class: "button" %>
    <% else %>
      <%= link_to 'Back', wizard_path(@prev_step), class: "button" %>
    <% end %>
  </div>
  <div class="small-2 columns small-offset-8">
    <%= form_obj.submit 'Next', class: "button", id: "wizard-setup-next" %>
  </div>
</div>
