<div class="row">
  <div class="small-4 columns">
    <%= link_to 'Show Capture Worfklow', capture_workflow_path(Wicked::FIRST_STEP, capture_id: @capture.id), class: 'button' %>
  </div>
  <div class="small-4 columns">
    <%= link_to 'Start VNC Server',  start_vnc_capture_path(@capture), class: 'button info' %>
  </div>
  <div class="small-4 columns">
    <% if @capture.decorate.canDelete? %>
      <%= link_to 'Destroy Capture', @capture, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button alert' %>
    <% else %>
      <%= link_to 'Stop Capture Workflow', force_stop_capture_path(@capture), data: { confirm: 'Are you sure?' }, class: 'button alert' %>
    <% end %>
  </div>
</div>
