$dark-border-color: $oil;

$filter-panel-rounded-corner-radius: $global-radius;

$filter-panel-border-color: $zigvu-footer-background-color;
$filter-panel-border-color-light: $panel-border-color;

$filter-panel-legend-box-color: scale-color($filter-panel-border-color-light, $lightness: 85%);

$chart-timeline-background-color: $white;
$chart-timeline-border-color: $black;
$chart-timeline-brush-color: $orange;

// ------------------------------------
// canvas layering
#canvases {
  position: relative;
  height: 730px; // 720px + 10px;
  width: 1280px;

  canvas {
    position: absolute;
    left: 0px;
    top: 0px;
  }

  #videoFrameCanvas{ z-index: 0; }
  #heatmapCanvas{ z-index: 1; opacity: 0.5; }
  #localizationCanvas{ z-index: 2; }
  #infoOverlayCanvas{ z-index: 3; opacity: 0.8; }
  #annotationCanvas{ z-index: 4; }
}

// ------------------------------------
// media player controls
.video-controls {

  button.tiny, .button.tiny {
    padding: 5px;
    margin: 0;
    font-size: 20px;
  }

  // make same height as timeline chart
  #video-controls-player-container {
    height: 77px;
    display: none;
  }
}

#video-controls-annotation-list-buttons {
  button.tiny, .button.tiny {
    padding: 5px;
    margin: 0;
    font-size: 20px;
  }
}

// annotation list
#annoattion-list-scroller {
  overflow-y: auto;
  max-height: 680px;

  #annotation-list {
    li {
      div {
        padding: 2px 0 2px 0;
        font-size: 16px;
        color: black;
      }
    }
  }
}

// ------------------------------------
// Filter tabs
.bordered {
  //border: solid 1px $dark-border-color;
  //margin: 5px;
}

.tabs {
  border: solid 1px $dark-border-color;
}

.tabs-content {
  padding: 5px;
  border: solid 1px $dark-border-color;
}
.tab-title {
  border-right: solid 1px $dark-border-color;
}

.filter-panel {
  border: 1px solid $filter-panel-border-color;
  margin-bottom: 1.25rem;

  -webkit-border-radius: $filter-panel-rounded-corner-radius;
  -moz-border-radius: $filter-panel-rounded-corner-radius;
  border-radius: $filter-panel-rounded-corner-radius;

  .filter-title {
    padding: 1px 3px 1px 1px;
    border-bottom: 4px solid $filter-panel-border-color-light;
    -webkit-border-top-left-radius: $filter-panel-rounded-corner-radius;
    -webkit-border-top-right-radius: $filter-panel-rounded-corner-radius;
    -moz-border-radius-topleft: $filter-panel-rounded-corner-radius;
    -moz-border-radius-topright: $filter-panel-rounded-corner-radius;
    border-top-left-radius: $filter-panel-rounded-corner-radius;
    border-top-right-radius: $filter-panel-rounded-corner-radius;

    .text {
      padding: 0.25rem;
      font-weight: 600;
      font-variant: small-caps;
    }

    .help {
      font-size: rem-calc(16);
      font-weight: 600;

      .title-button {
        margin: 0;
        padding: 0.4rem 1rem 0.4rem 1rem;
      }
    }
  }

  .filter-content {
    padding: 1.25rem 1.25rem 0 1.25rem;
  }
}

#d3-video-timeline-chart {
  .timeline-context-chart {
    background-color: $black;
  }

  .timeline-focus-chart {
    background-color: $black;
  }

  rect.bg-rect {
    fill: $chart-timeline-background-color;
    stroke: $chart-timeline-border-color;
    stroke-width: 2px;
    shape-rendering: crispEdges;
  }

  .contextBrush, .focusBrush {
    stroke: $chart-timeline-brush-color;
    stroke-width: 2px;

    fill: $chart-timeline-brush-color;
    fill-opacity: .25;
    shape-rendering: crispEdges;
  }

  .brushHandlePointer {
    stroke: red;
  }

  path {
    pointer-events: none;
    fill:none;
    stroke-width: 1.5px;
  }

  // line {
  //   shape-rendering: crispedges;
  // }
}
