<h3>Editing Chia Model</h3>

<%= render 'form' %>

<% if @chia_model.isMajor? %>
  <%= link_to 'Back', chia_models_path, class: 'button' %>
<% else %>
  <%= link_to 'Back', @chia_model.majorParent, class: 'button' %>
<% end %>
