<!-- BEGIN: Analysis drop down -->
<a href="#">Analysis</a>
<ul class="dropdown">
  <li id="analysis_minings_index">
    <%= link_to "Minings", analysis.minings_path %>
  </li>
</ul>
<!-- END: Analysis drop down -->
