<!-- BEGIN: Annotaiton list -->
<div class="row">
  <div class="small-12 columns">
    <div class="filter-panel">
      <div class="filter-title clearfix">
        <div class="text left">Annotation List</div>
      </div>
      <div id="annoattion-list-scroller">
        <ul class="stack button-group" id="annotation-list"></ul>
      </div>
    </div>
  </div>
</div>

<div class="row" id="video-controls-annotation-list-buttons">
  <div class="small-12 columns">
    <ul class="button-group even-2">
      <li>
        <div class="button tiny" id="toggle-video-controls-container" title="Toggle video controls (t)">
          <i class="fi-shuffle"></i>
        </div>
      </li>
      <li>
        <div class="button tiny disabled secondary" id="video-playback-speed" title="Video playback speed">
          1.0
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- END: Annotaiton list -->
