<!-- BEGIN: Frame related information -->
<div id="filter-status-frame-container">
  <div class="row">
    <div class="small-12 columns">
      <div class="filter-panel">
        <div class="filter-title clearfix">
          <div class="text left">Current frame status</div>
        </div>
        <div class="filter-content">

<table>
  <thead>
    <tr>
      <td>Item</td> <td>State</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Heatmap Scale</td> <td><div id="filter-status-frame-heatmap-scale"></div></td>
    </tr>
    <tr>
      <td>All Localization ZDist</td> <td><div id="filter-status-frame-localization-zdist"></div></td>
    </tr>
  </tbody>
</table>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: Frame related information -->
<!-- BEGIN: Video related information -->
<div id="filter-status-video-container">
  <div class="row">
    <div class="small-12 columns">
      <div class="filter-panel">
        <div class="filter-title clearfix">
          <div class="text left">Current video status</div>
        </div>
        <div class="filter-content">

<table>
  <thead>
    <tr>
      <td>Item</td> <td>State</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Video Id</td> <td><div id="filter-status-video-id"></div></td>
    </tr>
    <tr>
      <td>Video Title</td> <td><div id="filter-status-video-title"></div></td>
    </tr>
    <tr>
      <td>Video Frame Number (Time based / Embedded)</td> <td><div id="filter-status-video-fn"></div></td>
    </tr>
    <tr>
      <td>Video Frame Time [hrs:min:sec.msec]</td> <td><div id="filter-status-video-time"></div></td>
    </tr>

    <tr>
      <td>Clip Id</td> <td><div id="filter-status-clip-id"></div></td>
    </tr>
    <tr>
      <td>Clip Frame Number (Time based / Embedded)</td> <td><div id="filter-status-clip-fn"></div></td>
    </tr>
    <tr>
      <td>Clip Frame Time [hrs:min:sec.msec]</td> <td><div id="filter-status-clip-time"></div></td>
    </tr>
  </tbody>
</table>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: Video related information -->
