<!-- BEGIN: Video Controls -->
<div class="row video-controls">
  <div class="small-12 columns">


    <!-- BEGIN: Video Controls Container -->
    <div id="video-controls-player-container">
      <div class="row">
        <div class="small-10 columns">
          <div id="video-controls-player">

            <ul class="button-group even-6">
              <li>
                <div class="button tiny" id="player-previous-hit" title="Jump to previous hit (r)">
                  <i class="fi-previous"></i>
                </div>
              </li>
              <li>
                <div class="button tiny" id="player-rewind" title="Skip few seconds backward (q)">
                  <i class="fi-rewind"></i>
                </div>
              </li>
              <li>
                <div class="button tiny" id="player-pause" title="Pause playback (SPACE)">
                  <i class="fi-pause"></i>
                </div>
              </li>
              <li>
                <div class="button tiny" id="player-play" title="Start playback (SPACE)">
                  <i class="fi-play"></i>
                </div>
              </li>
              <li>
                <div class="button tiny" id="player-fast-forward" title="Skip few seconds forward (v)">
                  <i class="fi-fast-forward"></i>
                </div>
              </li>
              <li>
                <div class="button tiny" id="player-next-hit" title="Jump to next hit (f)">
                  <i class="fi-next"></i>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="small-2 columns">
          <ul class="button-group even-2">
            <li>
              <div class="button tiny" id="draw-heatmap" title="Heatmap (h)">
                H
              </div>
            </li>
            <li>
              <div class="button tiny" id="draw-all-localizations" title="All localizations (a)">
                A
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END: Video Controls Container -->


    <!-- BEGIN: Video Timeline Container -->
    <div id="video-controls-timeline-container">
      <div class="row">
        <div class="small-12 columns">
          <div id="d3-video-timeline-chart"></div>
        </div>
      </div>
    </div>
    <!-- END: Video Timeline Container -->

  </div>
</div>
<!-- END: Video Controls -->
