<div class="row">
  <div class="small-12 columns">
    <h3>Capture workflow for stream: <%= @stream.name %></h3>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= yield %>
  </div>
</div>
