<!-- BEGIN: Layout -->
<%= render :layout => 'outershell' do %>
  <div class="row">
    <div class="small-12 columns">
      <div class="workflow-panel">
        <div class="workflow-title clearfix">
          <div class="text left">Stop Capture</div>
        </div>
        <div class="workflow-content">

<!-- BEGIN: Content -->
<%= simple_form_for @capture, :url => wizard_path, :method => :put do |f| %>

<p>Click next to stop capture. This will free up remote machine after all created clips are saved to storage. If needed, a new capture workflow can be started to re-start capture of this stream.</p>

<p>Note: You will be able to view the latest thumbnail or restart VNC Server in the <%= link_to "Stream page", stream_path(@capture.stream) %>.</p>


<%= render 'common_buttons', :form_obj => f %>
<% end %>
<!-- END: Content -->

        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- END: Layout -->
