<!-- BEGIN: Video drop down -->
<a href="#">Video</a>
<ul class="dropdown">
  <li id="video_streams_index">
    <%= link_to "Streams", video.streams_path %>
  </li>
</ul>
<!-- END: Video drop down -->
