<!-- BEGIN: Kheer drop down -->
<a href="#">Kheer</a>
<ul class="dropdown">
  <li id="kheer_detectables_index">
    <%= link_to "Detectables", kheer.detectables_path %>
  </li>
  <li id="kheer_chia_models_index">
    <%= link_to "Chia Models", kheer.chia_models_path %>
  </li>
</ul>
<!-- END: Kheer drop down -->
