<!-- BEGIN: Kheer drop down -->
<a href="#">Kheer</a>
<ul class="dropdown">
  <li id="kheer_detectables_index">
    <%= link_to "Detectables", kheer.detectables_path %>
  </li>
</ul>
<!-- END: Kheer drop down -->
