<div class="row">
  <div class="small-12 columns">

	    <% flash.each do |name, msg| %>
				<% if msg.is_a?(String) %>
					<div data-alert class="alert-box <%= name.to_s == 'notice' ? 'success' : 'alert' %>">
						<%= content_tag :div, msg %>
						<a href="#" class="close">&times;</a>
					</div>
				<% end %>
			<% end %>

			<div id="javascript-error"></div>
			<div id="javascript-message"></div>

  </div>
</div>
