<!-- BEGIN: Footer Content -->
<div class="row">
  <div class="medium-3 push-9 columns">
    <ul class="footer-social">
      <li><a class="fi-social-twitter" href="http://www.twitter.com/ZIGVU"><span></span></a></li>
      <li><a class="fi-social-facebook" href="http://www.facebook.com/ZIGVU"><span></span></a></li>
      <li><a class="fi-mail" href="#"><span></span></a></li>
    </ul>
  </div>
  <div class="medium-9 pull-3 columns">
    <div class="row">
      <div class="small-12 columns">
        <ul class="footer-links">
          <li><a href="#">About</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">News<span class="show-for-medium-up"> &amp; Events</span></a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Sitemap</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <p class="footer-copyright">&copy; 2014 ZIGVU, Inc. All rights reserved.</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
  </div>
</div>
<!-- END: Footer Content -->
