<!-- BEGIN: Left navigation -->
<ul class="left">

  <% if user_signed_in? %>

    <!-- <li><a href="#">Nothing for now</a></li> -->

  <% else %>

    <!-- <li><a href="#">Nothing for now</a></li> -->

  <% end %>

</ul>
<!-- END: Left navigation -->
